.cartContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-style: solid;
  border-color: #666666;
  border-width: 1px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  width: 500px;
  gap: 10px;
}
