*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
}

/* @font-face {
  font-family: 'Grifter';
  src: local('Grifter'), url(fonts/grifter.otf) format('opentype');
}
 */
