.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
  h1 {
    font-size: 76px;
    font-weight: 800;
    color: #171717;
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 1.5rem;
  }

  .shopNow {
    background-color: #171717;
    color: white;
    height: 2rem;
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
  }
  .shopNow:hover {
    color: white;
    background-color: gray;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
}
